<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>

<body>

<div id="bodyContainer">
    <form th:action="@{/process-login}" method="POST">
        <label for="email">Email</label>
        <input id="email" name="email"/>
        <br/>
        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>
        <br/>
        <button type="submit" title="Login">Login</button>
    </form>
</div>

</body>
</html>
