<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Template</title>

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>

<div id="bodyContainer">
    <div>Users</div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}"/>
            <td th:text="${user.email}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
